<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongo Sandbox</title>
    <style>
        body {font-family: sans-serif}
        .product {display: inline-block; padding: 15px; background: #f0f0f0; margin: 10px;}
        .product ul {margin: 0; padding: 0;}
        .product li {list-style-type: none}
    </style>
</head>
<body>
    <div class="form">
        Item: <input type="text" id="data-input">
        Qty: <input type="number" id="qty-input">
        Status: <input type="text" id="status-input">
        Tags: <input type="text" id="tags-input">
        <button id="test">New Product</button>
    </div>

    <section id="inventory"></section>

    <script type="text/template" id="product-template">
        <article class="product" id="<%= id %>">
            <ul>
                <li><b>Item:</b> <%= item %></li>
                <li><b>Qty:</b> <%= qty %></li>
                <li><b>Status:</b> <%= status %></li>
                <li><b>Tags:</b> <%= tags.join(", ") %></li>
                <hr>
                <button class="delete-product">Delete</button>
                <button class="add-ten">Add 10 to stock</button>
            </ul>
        </article>
    </script>

    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="underscore.js"></script>
    <script src="js/main.js"></script>
</body>
</html>